@import "tailwindcss";

body { 
  color: #f0f0f0;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
} 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.bg-gradient-custom {
  background: radial-gradient(
    circle,
    #20281d 0%,       /* center */
    #1f271c 35%,      /* inner mid */
    #182015 100%      /* outer sides */
  ); 
}


